In [98]:
import pandas as Pd
import numpy as np
import pickle as pk 
import tensorflow as tf
from tensorflow.keras.models import load_model
from sklearn.preprocessing import StandardScaler,LabelEncoder

In [49]:
#load the trained model, sacler, pickle, OHE
model=load_model('model.h5')

#load rthe encoder and scaler
with open('onehot_encoder_geo.pk1','rb') as file:
    label_encoder_geo = pk.load(file)
with open('label_encoder_gender.pk1','rb') as file:
    label_encoder_gender = pk.load(file)
with open('scaler.pk1','rb') as file:
    scaler = pk.load(file)

In [105]:
input_data = {
   "CreditScore": 619,
   "Geography": "France",
   "Gender": "male",
   "Age": 42,
   "Tenure": 2,
   "Balance": 0,
   "NumOfProducts": 1,
   "HasCrCard": 1,
   "IsActiveMember": 1,
   "EstimatedSalary": 101348.88,

 }

In [106]:
geo_encoded = label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = Pd.DataFrame(geo_encoded,columns = label_encoder_geo.get_feature_names_out(['Geography']))

/Users/priya/Documents/ANN Classification/venv/lib/python3.11/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [107]:
input_df = Pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,male,42,2,0,1,1,1,101348.88

In [140]:
input_df= Pd.concat([input_df.reset_index(drop = True),geo_encoded_df], axis =1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0,1,1,1,101348.88,1.0,0.0,0.0

In [141]:
label_encoder_gender = LabelEncoder()
input_df['Gender'] = label_encoder_gender.fit_transform(input_data['Gender'])
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0,1,1,1,101348.88,1.0,0.0,0.0

In [142]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0,1,1,1,101348.88,1.0,0.0,0.0

In [144]:
input_scaled = scaler.transform(input_df)
input_scaled

array([[-0.33880827, -1.09499335,  0.29493847, -1.04241787, -1.21847056,
        -0.91668767,  0.64920267,  0.97481699,  0.01595384,  1.00150113,
        -0.57946723, -0.57638802]])

In [145]:
prediction = model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 42ms/step

array([[0.4432592]], dtype=float32)

In [150]:
prediction_prob = prediction[0][0]

In [151]:
prediction_prob

0.4432592

In [152]:
if(prediction_prob>0.5):
    print('Customer is not likely to churn')
if(prediction_prob<0.5):
    print('customer is likely to churn')

customer is likely to churn